body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  font-weight: 300;
  background-color: #444;
  color: #fff;
  text-align: center;
}

h1, h2 {
  font-weight: 200;
}

.App {
  display: flex;
  flex-wrap: wrap;
}
